In [1]:
import os
import numpy as np
import cv2
from joblib import dump, Parallel, delayed
import pandas as pd
import pymysql
from sqlalchemy import create_engine

def get_image_paths(maxthings):
    imagepaths = []
    mid_path = os.path.join(os.getcwd(),"images")
    if(maxthings):
        for img_name in os.listdir(mid_path)[:maxthings]:
            imagepaths.append(os.path.join(mid_path,img_name))
    else:
        for img_name in os.listdir(mid_path):
            imagepaths.append(os.path.join(mid_path,img_name))
        
    return imagepaths

In [10]:
def getMeans(imgp):
    img = cv2.cvtColor(cv2.imread(imgp), cv2.COLOR_BGR2LAB)
    q = np.mean(img, axis=(0,1)).astype(np.uint8)
    v = q[0] << 16 | q[1] << 8 | q[2]
    return {"mean":v,"caminho":imgp}

In [11]:
c_map = Parallel(n_jobs=3)(delayed(getMeans)(imgp) for imgp in get_image_paths(None))

In [13]:
df_test = pd.DataFrame(c_map)

In [24]:
conn = pymysql.connect(
            host='localhost',
            user='nois',
            password='noisnarede',
            database='mosaic'
        )
engine = create_engine('mysql+pymysql://rede:noisnarede@localhost/mosaic')

In [26]:
df_test.to_sql("image", con = engine, if_exists='replace', index_label='path')
engine.execute('CREATE INDEX mean_index ON image (mean) USING BTREE')

In [27]:
engine.execute('select * from image WHERE mean > 123313 AND mean < 1231223').fetchall()

[(733, 885121, '/home/wesgas/Insper/6sem/megadados/images/person_108.png'),
 (26, 885377, '/home/wesgas/Insper/6sem/megadados/images/person_174.png'),
 (1026, 950657, '/home/wesgas/Insper/6sem/megadados/images/person_249.png'),
 (12, 1147519, '/home/wesgas/Insper/6sem/megadados/images/person_295.png')]