In [1]:
import os
import numpy as np
import cv2
from joblib import dump, Parallel, delayed
import pandas as pd
import pymysql
from sqlalchemy import create_engine

def get_image_paths(maxthings):
    imagepaths = []
    mid_path = os.path.join(os.getcwd(),"../images")
    if(maxthings):
        for img_name in os.listdir(mid_path)[:maxthings]:
            imagepaths.append(os.path.join(mid_path,img_name))
    else:
        for img_name in os.listdir(mid_path):
            imagepaths.append(os.path.join(mid_path,img_name))
        
    return imagepaths

In [2]:
def getMeans(imgp):
    img = cv2.cvtColor(cv2.imread(imgp), cv2.COLOR_BGR2LAB)
    q = np.mean(img, axis=(0,1)).astype(np.uint8)
    b = int(q[0]) << 2
    g = int(q[1]) << 1
    r = int(q[2])
    v = 0
    mask = 1
    for i in range(8):
        v |= (b&(mask << 2) | g&(mask << 1) | r&(mask)) << 2*i
        mask <<= 1
    
    return {"mean":v,"caminho":imgp}

In [20]:
img = get_image_paths(1)[0]
getMeans(cv2)
#c_map = Parallel(n_jobs=3)(delayed(getMeans)(imgp) for imgp in get_image_paths(None))

In [21]:
df_test = pd.DataFrame(c_map)

In [22]:
engine = create_engine('mysql+pymysql://nois:noisnarede@localhost/mosaic')

In [23]:
df_test.to_sql("image", con = engine, if_exists='replace', index_label='path')
engine.execute('CREATE INDEX mean_index ON image (mean) USING BTREE')

In [24]:
df_test.head()

       mean                                            caminho
0   3878356  /home/wesgas/Insper/6sem/megadados/sparkly-mos...
1  11090207  /home/wesgas/Insper/6sem/megadados/sparkly-mos...
2  13933129  /home/wesgas/Insper/6sem/megadados/sparkly-mos...
3   7473352  /home/wesgas/Insper/6sem/megadados/sparkly-mos...
4  14815591  /home/wesgas/Insper/6sem/megadados/sparkly-mos...